$Button1Color: #4F2AC3;

$Grad1Start: #1B6CA7;
$Grad1End: #442BDB;
$Grad2Start: #442BDB;
$Grad2End: #89223B;
$Grad3Start: #89223B;
$Grad3End: #9C791D;
$Grad4Start: #9C791D;
$Grad4End: #89223B;

$TextColor: #ffffFf;
$TextColorSecondary: #000000;